<article class="photo" style="color:black;font-family:&#39;Lucida Sans Unicode&#39;,&#39;Lucida Grande&#39;,sans-serif">
  <img src="http://i.imgur.com/0p90kPs.png" width="100%" height="100%">
  <div>
  <section>
    <p class="text-auto-size">Welcome to your Glass shopping list</p>
  </section>
  <footer>
  	Tap to fetch and wait for the beep.
  </footer>
</article>