<article style="background-image:url(&#39;http://i.imgur.com/0p90kPs.png&#39;);color:black;font-family:&#39;Lucida Sans Unicode&#39;,&#39;Lucida Grande&#39;,sans-serif">
<section>
    	<p class="text-auto-size">Shopping List App Demo</p></section>
  <footer>
  Rightcode LTD
  </footer>
</article>