<article>
  <section>
    <div class=\"text-x-large\" style=\"\">
      <p class=\"yellow\">
        Shopping List App
      </p>
    </div>
  </section>
  <footer>
    <div>
    </div>
  </footer>
</article>