<article style="background-image:url(&#39;http://i.imgur.com/0p90kPs.png&#39;);color:black;font-family:&#39;Lucida Sans Unicode&#39;,&#39;Lucida Grande&#39;,sans-serif">
  <section>
    <div class="layout-two-column">
      <div class="align-center">
		#if($!purchased)
			<p style="font-size:25px"><strike>$!{quantity} $!{prdName}</strike> - Checked</p>
		#{else}
			<p style="font-size:25px">$!{quantity} $!{prdName}</p>
		#end
    	<img src="$!{imgUrl}">
      </div>
      <div class="text-auto-size">
		<p class="align-center" style="font-size:27px"><i><b><u>Next on your list:</u></b></i></p>
			<ul>
			 #foreach($product in $itemsInSameCategory)
				 #if ($product.prdName == $!{prdName})

			 	#else
			 		<li style="font-size:20px">$product.prdName</li>
			 	#end
			 #end
			</ul>
      </div>
    </div>
  </section>
  <footer>
    <p>$!{price}</p>
  </footer>
</article>