<article class="auto-paginate">
  <h3>
    Shopping List:
  </h3>
  #foreach( $category in $allProducts.keySet())
  	#set( $productsForCategory = $allProducts.get($category))
  	<h4>$categoryTitles.get($category)</h4>
    <ul class="text-x-small">
  	  #foreach( $product in $productsForCategory)
  	    #if($!{item.purchased})
  	        <li>
  	        	<strike>
      	  	  $product.quantity $product.prdName
      	  	  </strike> 
    	    </li>
	    #{else}
  	        <li>
      	   		$product.quantity $product.prdName 
    	    </li>
	    #end			
	  #end
    </ul>
  #end

  <footer>
    <p>
    </p>
  </footer>
</article>