<article>
  <figure>
    <img src="$!{imgUrl}">
  </figure>
  <section>
    <table class="text-x-small align-justify">
      <tbody>
        <tr>
          <td>
            Quantity
          </td>
          <td>
            $!{quantity}
          </td>
        </tr>
        <tr>
          <td>
            Price
          </td>
          <td>
            $!{price}
          </td>
        </tr>
      </tbody>
    </table>
	#if($!purchased)
		<p style=“color:green">* Bought</p>
		<p style=“color:green">store notice</p>it's true!
	#{else}
	    <p style=\"color:red\">
     	$!{promo}
    	</p>
	#end
  </section>
  <footer>
    <p style=\"color:red\">
    </p>
  </footer>
</article>