<article>
  <figure>
    <img src="$!{imgUrl}">
  </figure>
  <section>
    <p class="text-auto-size">
      $!{prdName}
    </p>
  </section>
  <footer>
    $!{prdNum} / $!{maxItems}
  </footer>
</article>