<article class="auto-paginate">
  <h3>
    Shopping List:
  </h3>
  <ul class="text-x-small">
  	#foreach( $item in $items)
  	  #if($!{item.purchased})
  	      <li>
      	  	$item.quantity $item.prdName 
    	  </li>
	  #{else}
  	      <li>
  	      	<strike>
      	  		$item.quantity $item.prdName 
    	  	</strike>
    	  </li>
	  #end			
	#end
  </ul>
  <footer>
    <p>
      ${maxItems} Items
    </p>
  </footer>
</article>